@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
}

.link-card-wrap {
  height: 100%;
}

.reg-container {
  padding: 3rem;
  width: 100%;
}

button.splide__arrow {
  background-color: #050D2E;
  opacity: 0.8;
}

button.splide__arrow:disabled {
  opacity: 0.5;
  cursor: default;
}

button.splide__arrow svg {
  fill: #fff;
}

.mobile-hidden-carousel {
  display: none;
}

@media screen and (min-width: 340px) {
  .mobile-hidden-carousel {
    display: block;
  }
}

.heading {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.text-body {
  font-size: 1.25rem;
}